name: python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Run static code analysis
        run: |
         pip install pylint
         pylint main.py
        
      - name: Check code style
        run: |
         pip install flake8
         flake8 main.py

      - name: Test with pytest
        run: pytest
         
      - name: Build application
        run: |
         pip install pyinstaller
         pyinstaller --onefile  main.exe

            
  upload-the-archive:
     needs: build
     runs-on: ubuntu-latest

     steps:
         - uses: actions/checkout@v3
         - name: Create Archive
           run: |
            git archive --format zip --output artifact.zip HEAD
            
         - name: Send to telegram
           uses: appleboy/telegram-action@master
           with:
            to: ${{ secrets.CHAT_ID}}
            token: ${{ secrets.BOT_TOKEN}}
            document: artifact.zip
            
         - name: Upload to google-drive
           uses: adityak74/google-drive-upload-git-action@main
           with:
             credentials: ${{ secrets.CREDENTIALS }}
             filename: "artifact.zip"
             folderId: ${{ secrets.FOLDER_ID }}

