name: python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run static code analysis
        run: |
         pip install pylint
         pylint main.py
        
      - name: Check code style
        run: |
         pip install flake8
         flake8 main.py

      - name: Test with pytest
        run: pytest
         
      - name: Build application
        run: python3 main.py 
        
#       - name: Send notification on Telegram
#         uses: appleboy/telegram-action@master
#         with:
#          to: ${{ secrets.CHAT_ID }}
#          token: ${{ secrets.BOT_TOKEN }}
#          message: |
#             Build ${{ job.status }}:
#             Commit: ${{ github.run_id }}
            
      - name: Create artifacts
        if: success()
        uses: actions/upload-artifact@v2
        with:
            name: app_artifact
            path: main.py
            
  notification:
     needs: build
     runs-on: ubuntu-latest

     steps:
      - name: Download a artifact
        uses: actions/download-artifact@v2
        with:
          name: app_artifact

      - name: send to telegram
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.CHAT_ID}}
          token: ${{ secrets.BOT_TOKEN}}
          document: main.py
          
#       - name: Upload to Google Drive
#         uses: llizzzzzzzzii/google-drive-upload-git-action@main
#       #         uses: llizzzzzzzzii/hw_devops@master
#         with:
#          credentials: ${{ secrets.CLIENT_SECRET }}
#          folderId: ${{ secrets.FOLDER_ID }}
#          filename: "python_app.zip"
        
