name: python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
#       - name: Run static code analysis
#         run: |
#          pip install pylint
#          pylint files/
        
#       - name: Check code style
#         run: |
#          pip install flake8
#          flake8 files/

#       - name: Test with pytest
#         run: pytest
         
      - name: Build application
        run: |
         pip install pyinstaller
         pyinstaller --onefile  main.py 
            
#       - name: Archive
#         run: |
#           sudo apt-get update
#           sudo apt-get install zip
#           zip -r archive.zip *
          
#       - name: Create artifacts
#         if: success()
#         uses: actions/upload-artifact@v2
#         with:
#             name: app_artifact
#             path: dist/
            
  notification:
     needs: build
     runs-on: ubuntu-latest

     steps:
#       - name: Download a artifact
#         uses: actions/download-artifact@v2
#         with:
#           name: archive.zip
        - name: Checkout Code
          uses: actions/checkout@v2
        - name: Create Archive
          run: |
           git archive --format zip --output archive.zip HEAD
        - name: Send to telegram
          uses: appleboy/telegram-action@master
          with:
           to: ${{ secrets.CHAT_ID}}
           token: ${{ secrets.BOT_TOKEN}}
           document: archive.zip
          
#       - name: Upload to Google Drive
#         uses: llizzzzzzzzii/google-drive-upload-git-action@main
#       #         uses: llizzzzzzzzii/hw_devops@master
#         with:
#          credentials: ${{ secrets.CLIENT_SECRET }}
#          folderId: ${{ secrets.FOLDER_ID }}
#          filename: "python_app.zip"
        
