name: python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run static code analysis
        run: |
         pip install pylint
         pylint main.py
        
      - name: Check code style
        run: |
         pip install flake8
         flake8 main.py
       
      - name: Send notification on Telegram
        uses: appleboy/telegram-action@v0.1.1
        with:
         to: ${{ secrets.CHAT_ID }}
         token: ${{ secrets.BOT_TOKEN }}
         message: |
            Build ${{ job.status }} on branch ${{ github.ref }}:
            - Commit: ${{ github.sha }}

      - name: Test with pytest
        run: pytest
         
      - name: Build application
        run: python3 main.py 
        
      - name: Upload artifacts
        if: success()
        uses: actions/upload-artifact@v2
        with:
            name: python_app
            path: main.py
